.Header{
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: var(--color-background);
    
    .search_icon{
        width: 32px;
        color: rgb(127, 127, 127);
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .input_group{
        position: relative;
        
        input{
            padding: 5px 30px 5px 0;
            font-size: 24px;
            background-color: var(--color-surface);
        }
    }
    button{
        width: 30px;
        background: transparent;
        color: var(--color-primary);
        border: none;
        cursor: pointer;
    }
}